[color]
	ui = true

[color "branch"]
	current = green bold
	local = green
	remote = yellow

[color "diff"]
	frag = magenta
	meta = yellow
	new = green
	old = red

[color "status"]
	added = green reverse
	changed = yellow reverse
	untracked = red reverse

[user]
	name = Peter Renström
	email = renstrom.peter@gmail.com

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

[alias]
	# l = log -n 20 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	l  = log --pretty=custom -n 20
	g  = log --graph --pretty=custom -n 20
	d = diff
	s = status -sb
	st = status
	c = commit --untracked-files=no -v
	co = checkout
	standup = "!git log --since yesterday --author `git config user.email` --pretty=short"
	wdiff = diff --color-words
	rdiff = submodule foreach --recursive git diff
	prune-local-branches = "!git branch --merged master | grep -v 'master$' | xargs git branch -d"

[push]
	default = current

[pull]
	autosetupmerge = true
	autosetuprebase = always
	# rebase = preserve

[fetch]
	prune = true

[pretty]
	# Custom log output
	custom = "%C(magenta)%h%C(auto)%d %C(yellow)%ar %C(reset)%s %C(yellow)(%an)"
	#                     │         │            │            │  author name ┘
	#                     │         │            │            └─ message
	#                     │         │            └─ date (relative)
	#                     │         └─ decorations (branch, heads or tags)
	#                     └─ hash (abbreviated)

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

# vim: set commentstring=#\ %s:
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
