[color]
	ui = true

[color "branch"]
	current = green bold
	local = green
	remote = yellow

[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green reverse
	changed = yellow reverse
	untracked = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[user]
	name = Peter Lithammer
	email = peter.lithammer@gmail.com

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less --tabs=4 -RFX
	# pager = diff-highlight | less --tabs=4 -RFX

[alias]
	# l = log -n 20 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	l  = log --pretty=custom --max-count=20
	g  = log --pretty=custom --max-count=20 --graph
	d = diff
	s = status --short --branch
	st = status
	c = commit --untracked-files=no
	co = checkout
	prune-merged-branches = "!git branch --merged master | grep -v 'master$' | xargs git branch -d"

	# Human aliases
	# http://gggritso.com/human-git-aliases
	amend = commit --amend
	branches = branch -a
	discard = checkout -- .
	stashes = stash list
	tags = tag
	uncommit = reset --mixed HEAD~
	undo = reset --mixed HEAD~
	unstage = reset HEAD --

[push]
	default = current

[pull]
	autosetupmerge = true
	autosetuprebase = always
	# rebase = preserve

[fetch]
	prune = true

[pretty]
	# Custom log output
	custom = "%C(magenta)%h%C(auto)%d %C(yellow)%ar %C(reset)%s %C(yellow)(%an)"
	#                     │         │            │            │  author name ┘
	#                     │         │            │            └─ message
	#                     │         │            └─ date (relative)
	#                     │         └─ decorations (branch, heads or tags)
	#                     └─ hash (abbreviated)

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[interactive]
	diffFilter = diff-highlight
	# diffFilter = diff-so-fancy --patch-mode | less --tabs=4 -RFX

[diff]
	compactionHeuristic = true
	# diffFilter = diff-highlight
	# diffFilter = diff-so-fancy --patch-mode

[commit]
	verbose = true
# vim: set commentstring=#\ %s:
